main .shimmer-card {
    --shimmer-color: hsl(0, 0%, 7%);

}
main.dark .shimmer-card{
    --shimmer-color: hsl(208%, 21%, 34%);

}
.shimmer-card{
    height: 350px;
    background-color: var(--shimmer-color);

}


.shimmer-card .flag-container {
    background-color: var(--shimmer-color);
}
.shimmer-card .card-title{
    height: 32px;
    background-color: var(--shimmer-color);
    border-radius: 4px;
}
.shimmer-card p{
    height: 22px;
    border-radius: 4px;
    background-color: var(--shimmer-color);
}
.shimmer-card p:last-child{
    width: 60%;
}